<h1>Create Book</h1>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="bookList">
    <thead>
        <tr>
            <th>Id</th>
            <th>Book Title</th>
            <th>Author</th>
            <th>Genre</th>
            <th>Number of Chapters</th>
            <th>Published</th>
        </tr>
    </thead>  

    <tbody>
        <tr *ngFor="let book of bookList">
            <td>{{book.id}}</td>
            <td>{{book.title}}</td>
            <td>{{book.author}}</td>
            <td>{{book.genre}}</td>
            <td>{{book.chapters}}</td>
            <td>{{book.yearOfPublish}}</td>
        </tr>
    </tbody>

<p *ngIf="!bookList"><em>Loading...</em></p>

     <div class="row">
        <div class="col-2"><label>Book Title</label></div>
        <div class="col-6"><input [(ngModel)]="newBook.title" type="text" placeholder="Title" class="smallInput"></div>
    </div>

    <div class="row">
        <div class="col-2"><label>Author</label></div>
        <div class="col-6"><input [(ngModel)]="newBook.author" type="text" placeholder="Author" class="smallInput"></div>
    </div>

    <div class="row">
        <div class="col-2"><label>Genre</label></div>
        <div class="col-6"><input [(ngModel)]="newBook.genre" type="text" placeholder="Genre" class="smallInput"></div>
    </div>

    <div class="row">
        <div class="col-2"><label>Chapters</label></div>
        <div class="col-6"><input [(ngModel)]="newBook.chapters" type="number" placeholder="Chapters" class="smallInput"></div>
    </div>

    <div class="row">
        <div class="col-2"><label>Published</label></div>
        <div class="col-6"><input [(ngModel)]="newBook.yearOfPublish" type="date" placeholder="yearOfPublish" class="smallInput"></div>
    </div>

    <div class="row">
        <div class="col-2"><label>Description</label></div>
        <div class="col-6"><input [(ngModel)]="newBook.description" type="string" placeholder="Description" class="smallInput"></div>
    </div>

    <div class="row">
        <div class="col-2"><label>Status</label></div>
        <div class="col-6">
            <select [(ngModel)]="newBook.status">
            <option *ngFor="let status of something" [value]="status">{{status}}</option>
        </select></div>
    </div>

    <button (click)="addBook()">Save</button>